crm-tmp-code/Integration/EC/Virtual Meeting Room/Ec.VirtualMeetingRoom.Services/XSD-WSDL/Vyopta.UcManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Vyopta.UcManager" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Vyopta.UcManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Vyopta.UcManager/Imports">
      <xsd:import namespace="Vyopta.UcManager" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Vyopta.UcManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUcManagerService_ScheduleMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleMeeting" />
  </wsdl:message>
  <wsdl:message name="IUcManagerService_ScheduleMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="IUcManagerService_DeleteMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMeeting" />
  </wsdl:message>
  <wsdl:message name="IUcManagerService_DeleteMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMeetingResponse" />
  </wsdl:message>
  <wsdl:portType name="IUcManagerService">
    <wsdl:operation name="ScheduleMeeting">
      <wsdl:input wsaw:Action="Vyopta.UcManager/IUcManagerService/ScheduleMeeting" message="tns:IUcManagerService_ScheduleMeeting_InputMessage" />
      <wsdl:output wsaw:Action="Vyopta.UcManager/IUcManagerService/ScheduleMeetingResponse" message="tns:IUcManagerService_ScheduleMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMeeting">
      <wsdl:input wsaw:Action="Vyopta.UcManager/IUcManagerService/DeleteMeeting" message="tns:IUcManagerService_DeleteMeeting_InputMessage" />
      <wsdl:output wsaw:Action="Vyopta.UcManager/IUcManagerService/DeleteMeetingResponse" message="tns:IUcManagerService_DeleteMeeting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>