crm-tmp-code/Integration/EC/Virtual Meeting Room/Ec.VirtualMeetingRoom.Services/Service References/Vyopta.UcManager/Vyopta.UcManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Vyopta.UcManager" elementFormDefault="qualified" targetNamespace="Vyopta.UcManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Vyopta.UcManager" />
  <xs:element name="ScheduleMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vyopta.UcManager" minOccurs="0" name="request" nillable="true" type="q1:ScheduleMeetingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Vyopta.UcManager" minOccurs="0" name="ScheduleMeetingResult" nillable="true" type="q2:ScheduleMeetingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Vyopta.UcManager" minOccurs="0" name="request" nillable="true" type="q3:DeleteMeetingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vyopta.UcManager" minOccurs="0" name="DeleteMeetingResult" nillable="true" type="q4:DeleteMeetingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>